<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="{{site.root}}/favicon.png?v={{cache_bust}}">
    <link rel="stylesheet" href="{{site.root}}/site_style.css?v={{cache_bust}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{site.root}}/emobf.js?v={{cache_bust}}"></script>
    <title>{{site.name}}</title>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <a id="header-home-link" href="{{site.root}}/index.html"><h1>{{site.name}}</h1></a>
        </div>
        <div id="main">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <p>
                Need a resident?
                <span id="footer_emobf">Enable javascript to see my email.</span>
            </p>
            <script type="text/javascript">
                emobf('footer_emobf');
            </script>
        </div>
    </div>
</body>
</html>
