<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="{{site.root}}/favicon.png?v={{cache_bust}}">
    <link rel="stylesheet" href="{{site.root}}/site_style.css?v={{cache_bust}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{site.root}}/emobf.js?v={{cache_bust}}"></script>
    <title>{{site.name}}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="wrap">
        <div id="header">
            <a id="header-home-link" href="{{site.root}}/index.html"><h1>{{site.name}}</h1></a>
        </div>
        <div id="main">
            <div id = "back_navigator">
                <div id = "back1">
                    {% if page.backlink1 %}
                    <a class = "back_navigator_link" href = "{{site.root}}/{{page.backlink1.filename}}.html">{{page.backlink1.title}}</a>
                    {% endif %}
                </div>
                <div id = "back2">
                    {% if page.backlink2 %}
                    <a class = "back_navigator_link" href = "{{site.root}}/{{page.backlink2.filename}}.html">{{page.backlink2.title}}</a>
                    {% endif %}
                </div>
                <div id = "back3">
                    {% if page.backlink3 %}
                    <a class = "back_navigator_link" href = "{{site.root}}/{{page.backlink3.filename}}.html">{{page.backlink3.title}}</a>
                    {% endif %}
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <div>
                <p>
                    Do you have any questions or feedback?
                    <span id="footer_emobf">Enable javascript to see my email.</span>
                </p>
                <script type="text/javascript">
                    emobf('footer_emobf');
                </script>
            </div>
        </div>
    </div>
</body>
</html>
