<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="favicon.png?v={{cache_bust}}">
    <link rel="stylesheet" href="site_style.css?v={{cache_bust}}">
    <script type="text/javascript" src="emobf.js?v={{cache_bust}}"></script>
    <title>{{page.title}}</title>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <a id="header-home-link" href="index.html"><h1>{{site.name}}</h1></a>
        </div>
        <div id="main">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <p>
                Want to hire me?
                <span id="footer_emobf">Enable javascript to see my email.</span>
            </p>
            <script type="text/javascript">
                emobf('footer_emobf');
            </script>
        </div>
    </div>
</body>
</html>
