body,
html {
    margin:0px;
    padding:0px;
    color:#000;
    background:#fff;
    font-size:4vw;
}

#wrap {
    margin:0px 0px;
}

#header {
    background:#aaa;
    padding:0px 2vw;
    margin:0px 0px;

    display:flex;
    align-items:center;
    justify-content:center;
}

#main {
    padding:10px;
    margin:0px 0px;
}

#footer {
    background:#aaa;
    padding:0px 5px;
    margin:0px 0px;
}

h1,
h2,
p {
    margin:0px;
}

p {
    padding:5px 0px;
}

img {
    width:100%;
}

#header-home-link {
    color:#000;
    text-decoration:none;
}

/*
a:link {
}

a:visited {
}

a:hover {
}

a:active {
}
*/
